[submodule "dependencies/cutlass"]
	path = dependencies/cutlass
	url = https://ghproxy.cn/https://github.com/NVIDIA/cutlass
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://ghproxy.cn/https://github.com/fmtlib/fmt
